.cluster-health-top-actions {
	text-align: right;
}
.cluster-health-content {
	font-family: monospace;
	white-space: pre;
}

.cluster-health-form-group {
	padding-left: 5px;
	float: right;
}
.cluster-health-filters {
	padding-top: 6px;
}