/* AdminLTE-style Common Styles */

/* Typeahead */
.typeahead-demo .custom-popup-wrapper {
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
}

.typeahead-demo .custom-popup-wrapper > .message {
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-left: 0px;
}

/* Basic Layout */
.node-badges {
    width: 20px;
    display: inline-block;
    float: left;
}

.node-info {
    margin-left: 20px;
}

.content-panel {
	padding-top: 16px;
}

#page-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0px 25px 60px;
}

/* AdminLTE-style Buttons */
.btn {
	border-radius: 3px;
	padding: 8px 12px;
	font-weight: 400;
	border: 1px solid transparent;
}

.btn-primary {
	background-color: #3c8dbc;
	border-color: #367fa9;
	color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #367fa9;
	border-color: #204d74;
}

.btn-success {
	background-color: #00a65a;
	border-color: #008d4c;
	color: #fff;
}

.btn-success:hover,
.btn-success:focus {
	background-color: #008d4c;
	border-color: #006837;
}

.btn-info {
	background-color: #00c0ef;
	border-color: #00acd6;
	color: #fff;
}

.btn-info:hover,
.btn-info:focus {
	background-color: #00acd6;
	border-color: #0097bc;
}

.btn-warning {
	background-color: #f39c12;
	border-color: #e08e0b;
	color: #fff;
}

.btn-warning:hover,
.btn-warning:focus {
	background-color: #e08e0b;
	border-color: #c87f0a;
}

.btn-danger {
	background-color: #dd4b39;
	border-color: #d73925;
	color: #fff;
}

.btn-danger:hover,
.btn-danger:focus {
	background-color: #d73925;
	border-color: #c23321;
}

/* Pagination */
.pagination-block {
	padding-top: 10px;
	float: right;
}

.pgnt-info {
    text-align: center;
    width: 100%;
    display: block;
    line-height: 1.42857143;
    vertical-align: middle;
    user-select: none;
}

.pgnt-btn {
    user-select: none;
    display: block;
    font-weight: 300;
    text-align: center;
    padding: 6px 12px;
    border-radius: 3px;
    min-width: 40px;
}

/* Nav Pills */
.nav-stacked > li > a {
	padding: 8px 15px;
}

.nav-pills > li > a {
	font-weight: 400;
}

/* Modals */
.modal-title {
	padding: 0px;
}

.modal-body {
	padding: 15px;
}

.modal-footer {
	padding: 15px;
	margin-top: 0px;
	border: 0px;
}

.modal-header {
	padding: 15px;
}

.custom-modal {
	padding-top: 8px;
	text-align: left;
	word-break: break-word;
}

.modal-open {
	margin-right: 0px !important;
}

/* Popover & Tooltip */
.popover {
	z-index: 1050;
}

.tooltip {
    opacity: 1.0 !important;
    white-space: pre-wrap !important;
}

/* Settings */
.setting-info {
	padding-left: 1px;
}

a.setting-info:hover {
	text-decoration: none;
}

.settings-area {
	padding: 8px;
}

/* Response */
.response-pre {
	border: 0px;
	font-family: monospace;
}

/* Actions */
.normal-action {
	cursor: pointer;
}

/* Editors */
.create-index-editor {
	height: 424px;
}

/* Alerts */
.alerts-container {
    position: fixed;
    padding-left: 50px;
    right: 25px;
    width: 50%;
    top: 50px;
    z-index: 1000000;
    min-width: 400px;
}

.alert-block {
	font-weight: 300;
	padding: 12px 15px;
	text-align: left;
    opacity: 0.9;
}

.alert {
	margin-bottom: 8px;
    padding: 12px 15px;
    border-radius: 3px;
}

/* Stats & Nodes */
.node_stats {
	padding-top: 16px;
}

/* Tables */
.table {
    margin-bottom: 20px;
}

.table-nonfluid {
   width: auto;
}

.table-actions > a:hover {
	text-decoration: none;
}

.table-header {
    vertical-align: top !important;
    border-bottom: 0px !important;
}

.table > thead > tr > th {
    border-bottom: 2px solid #d2d6de;
    font-weight: 600;
    padding: 12px 8px;
}

.table > tbody > tr > td {
    padding: 10px 8px;
    vertical-align: middle;
}

.table-bordered {
    border: 1px solid #d2d6de;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
    border: 1px solid #d2d6de;
}

.table > tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.02);
    transition: background-color 0.2s ease;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > td {
    padding: 8px 6px;
}

/* Details Icon */
.details-icon {
	float: right;
	line-height: 1.42857143;
	padding-left: 5px;
}

/* Action Buttons */
.action-buttons {
	text-align: right;
}

/* Textarea */
textarea {
    resize: none;
}

/* Connection */
.connection-info {
    padding-right: 10px;
}

.connect-menu {
    padding-right: 10px;
}

/* Dropdown */
.dropdown-menu > li > a {
    font-weight: 300;
    padding: 8px 20px;
}

.dropdown-menu > li > a:hover {
    font-weight: 300;
}

.host-history {
    padding: 4px 8px;
}

/* Section Title */
.section-title {
    padding-bottom: 20px;
    font-weight: 600;
}

/* Page Control */
.page-ctrl {
	margin-top: 16px;
	margin-bottom: 8px;
}

/* Navbar Cluster Status Colors - AdminLTE palette */
.navbar-cluster-status- {
    background-color: #ccc !important;
    color: #666 !important;
}

.navbar-cluster-status- > li.active > a {
    background-color: #666 !important;
    color: #ccc !important;
}

.navbar-cluster-status- > li > a {
    background-color: #ccc !important;
    color: #666 !important;
}

.navbar-cluster-status-green {
    background-color: #00a65a !important;
    color: #fff !important;
}

.navbar-cluster-status-green > li.active > a {
    background-color: rgba(255,255,255,0.2) !important;
    color: #fff !important;
}

.navbar-cluster-status-green > li > a {
    background-color: #00a65a !important;
    color: #fff !important;
}

.navbar-cluster-status-green-nav {
    color: #00a65a !important;
}

.navbar-cluster-status-yellow {
    background-color: #f39c12 !important;
    color: #fff !important;
}

.navbar-cluster-status-yellow > li.active > a {
    background-color: rgba(255,255,255,0.2) !important;
    color: #fff !important;
}

.navbar-cluster-status-yellow > li > a {
    background-color: #f39c12 !important;
    color: #fff !important;
}

.navbar-cluster-status-yellow-nav {
    color: #f39c12 !important;
}

.navbar-cluster-status-red {
    background-color: #dd4b39 !important;
    color: #fff !important;
}

.navbar-cluster-status-red > li.active > a {
    background-color: rgba(255,255,255,0.2) !important;
    color: #fff !important;
}

.navbar-cluster-status-red > li > a {
    background-color: #dd4b39 !important;
    color: #fff !important;
}

.navbar-cluster-status-red-nav {
    color: #dd4b39 !important;
}

.navbar-toggle-red .icon-bar,
.navbar-toggle-yellow .icon-bar,
.navbar-toggle-green .icon-bar {
    background: #fff !important;
}

.navbar-toggle-red,
.navbar-toggle-yellow,
.navbar-toggle-green {
    border: 1px solid rgba(255,255,255,0.3);
}

/* Navbar Brand */
.navbar-brand {
    font-variant: small-caps;
    font-weight: 300;
}

/* Inline Elements */
.inline-checkbox {
    padding-top: 22px;
}

.inline-button {
    padding-top: 23px;
}

/* 5-column Grid */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* Panels - AdminLTE Card Style */
.panel {
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.panel-heading {
    padding: 12px 15px;
    border-radius: 3px 3px 0 0;
}

.panel-body {
    padding: 15px;
}

/* Form Controls - AdminLTE Style */
.form-control {
    border-radius: 3px;
    padding: 8px 12px;
    border: 1px solid #d2d6de;
}

.form-control:focus {
    border-color: #3c8dbc;
    box-shadow: none;
}

.input-sm {
    padding: 6px 10px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

/* AdminLTE Info Boxes */
.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    margin-bottom: 15px;
}

.overview-stats {
    margin-top: 20px;
}

.info-box-icon {
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}

.info-box-icon > i {
    color: #fff;
}

.info-box-content {
    padding: 8px 12px;
    margin-left: 90px;
}

.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: 500;
}

.info-box-number {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
}

.info-box-delta {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
}

/* Info Box Background Colors */
.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.bg-purple {
    background-color: #605ca8 !important;
}

.bg-blue {
    background-color: #3c8dbc !important;
}

/* Text Colors */
.text-success {
    color: #00a65a !important;
}

.text-danger {
    color: #dd4b39 !important;
}

.text-warning {
    color: #f39c12 !important;
}

.text-info {
    color: #00c0ef !important;
}

/* Input Groups */
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}

.input-group-addon {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #d2d6de;
    border-radius: 3px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
}

.input-group-addon:first-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .form-control:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.input-group .form-control:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.input-group-addon:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.input-group .form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Filter Checkboxes */
.filter-checkbox {
    display: block;
    padding: 8px 12px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 0;
}

.filter-checkbox input[type="checkbox"] {
    margin-right: 8px;
    cursor: pointer;
}

.filter-checkbox .badge {
    margin-left: 4px;
    background-color: #3c8dbc;
    color: #fff;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
}

.filter-checkbox:hover {
    background-color: rgba(0,0,0,0.02);
    border-radius: 3px;
}

/* Overview Filters */
.overview-filters {
    margin-top: 8px;
    margin-bottom: 8px;
}

.overview-filters .input-group {
    margin-bottom: 0;
}
