/* AdminLTE-style Navbar */
.dropdown-menu {
	margin-top: 0px;
	margin-left: 25px;
}

.navbar {
	border: none;
	margin-bottom: 0;
}

.navbar-fixed-top {
	border: none;
}

.navbar-nav {
	margin: 0;
}

.navbar-nav > li > a {
	padding: 15px;
}

.navbar-collapse {
	border-top: 0;
}

.navbar-toggle {
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 8px 10px;
}

.navbar-toggle .icon-bar {
	width: 22px;
	height: 2px;
}

.navbar-brand {
	padding: 15px 15px;
	font-size: 20px;
	line-height: 20px;
	margin-left: 25px !important;
}

.navbar-logo {
	font-size: 20px;
	font-variant: small-caps;
	line-height: 20px;
	font-weight: 400;
}

.navbar-logo-action {
	font-size: 18px;
	font-weight: 300;
	font-variant: normal;
}

.navbar-menu-section {
	padding: 8px;
}

.nav-pills > li > a {
	font-weight: 400;
	border-radius: 3px;
	padding: 8px 15px;
}

.navbar-app-settings {
	width: 320px;
	padding: 8px 12px;
	min-width: 320px;
}

.navbar-app-setting {
	font-weight: 300;
	padding: 8px 0;
}
